{
  "version": "2017-02-28",
  "operation": "Scan",
  "filter": #if($context.arguments.sentiment)
    {
      "expression": "sentiment = :sentiment",
      "expressionValues": {
        ":sentiment": {"S": "$context.arguments.sentiment"}
      }
    }
  #else
    null
  #end
}
